<!DOCTYPE html>
<html>
<head>
	<title>PizzaShop</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- common JS libs -->
	<script src="/vendor/jquery-1.12.2.min.js"></script>
	<script src="/moment-with-locales.min.js"></script>

	<!-- Bootstrap -->
	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	
	<!-- datetimepicker -->
	<script src="/bootstrap-datetimepicker.min.js"></script>
	<link rel="stylesheet" href="/bootstrap-datetimepicker.min.css" />

	<script src="/app.js"></script>
	<link rel="stylesheet" href="/app.css" />
</head>
<body>
	<script type="text/javascript">
		$(function(){
			set_total_item_on_button();
			update_orders_in_cart();
			set_total_sum();
		});
	</script>
	<div class="container">
		<!-- Static navbar -->
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"><b>PizzaShop</b></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/admin">Admin</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<form action='/cart' method='post'>
							<input type = 'hidden' name='list_orders' id='orders_input'></input>
							<button id='count' class='btn btn-primary btn-lg'></button>
						</form>
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</nav>

		<div>
			<%if @errors then %>
			<div class="alert alert-danger">
				<ul>
					<li><%= @errors %></li>
				</ul>
			</div>
			<% end %>
			<%= yield %>
		</div>
</body>
</html>
